<!DOCTYPE html>
<html>
<head>
  <title>MaheshkApp</title>
  <style>
    h1 {
      color: whitesmoke;
      font-family: Verdana;
      font-size: 200%;
    }

    img {
      align: center;
    }
  </style>
</head>

<body background="http://eskipaper.com/images/high-resolution-backgrounds-9.jpg">
<h1 align="center">This site is under active development</h1>

<%= image_tag 'giphy.gif', {height: 45} %>
</body>
</html>
