<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Stylish Social Buttons</title>


  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<%= image_tag('Mahesh_K.png', class: 'me') %>

<div class="social-btns">
  <a class="btn facebook" href="https://www.facebook.com/maheshcet" target='_blank'><i class="fa fa-facebook"></i></a>
  <a class="btn twitter" href="https://twitter.com/maheshcet" target='_blank'><i class="fa fa-twitter"></i></a>
  <a class="btn google" href="https://plus.google.com/u/0/+MaheshKrishnaKumar1987" target='_blank'><i class="fa fa-google"></i></a>
  <a class="btn linkedin" href="https://www.linkedin.com/in/mahesh-k-9076a31a/" target='_blank'><i class="fa fa-linkedin"></i></a>
  <a class="btn github" href="https://github.com/mahesh-krishnakumar"><i class="fa fa-github"></i></a>
</div>
</body>
</html>
